.download {
  display: flex;
  height: 16vw;
}
.download .left {
  flex: 1;
  background-color: #f00;
}
.download .right {
  width: 25.2vw;
  text-align: center;
  line-height: 16vw;
  color: white;
  background-color: #0f0;
}
