@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1763269746139') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before {
  content: "\e95b";
}

.icon-vedio:before {
  content: "\e755";
}

.icon-bilibili:before {
  content: "\e601";
}

