body{
  font-size: 12px;

}
.wrapper_01{
  width: 1100px;
  margin: 0 auto;
}
.wrapper_02{
  width: 980px;
  margin: 0 auto;
}
.clear-fix::after{
  content: "";
  display: block;
  clear: both;

  height: 0;
  visibility: hidden;
}
.clear-fix{
  zoom: 1;
}
.topbar_sprite{
  display: inline-block;
  background-image: url(../../image/topbar.png);
}
.topbar_icon_hot{
  width: 28px;
  height: 19px;
  background-position: -190px 0;
}