body,h1,h2,h3,ul,li,p{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #000;
}
ul,li{
  list-style: none;
}
input{
  outline: none;
  border: none;
}
img{
  /* vertical-align: top; */
  display: block;
    /* 转为块级元素，彻底避免 inline 相关的对齐问题 */
}